.container{
    background: dodgerblue;
    border: 4px solid midnightblue;
    height: 300px;
    width: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.box{
    background: palevioletred;
    border: 6px solid maroon;
    text-align: center;
    font-weight: bold;
    width: 80px;
    height: 80px;

}
